<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAQMYSAU7IXUYO4L6N"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="Region" value="us-east-2"/>
    <add key="Profile" value="c231-db"/>
    <add key="FolderName" value=""/>  
  </appSettings>
</configuration>